<a href="https://colab.research.google.com/github/coulava/Chapter-2-NextJS/blob/main/Modul1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=3
print(a)
type(a)

3

int

In [ ]:
a=3
b= 4+a
b
print(b)

7

In [ ]:
angka=[1,2,3,4,5,6]
type(angka)
angka(6)

TypeError: 'list' object is not callable

In [ ]:
angka[1,2,3,4,5,6]
type(angka)
angka[4]
nama=["Ade", "Aira", "Budi","Bagus"]
ptint(nama[3])
print(nama)
ptint(angka)

TypeError: list indices must be integers or slices, not tuple

In [ ]:
angka=[1,2,3,4,5,6]
type(angka)
angka[4]
nama=["Ade", "Aira", "Budi","Bagus"]
print(nama[3])
print(nama)
print(angka)

Bagus
['Ade', 'Aira', 'Budi', 'Bagus']
[1, 2, 3, 4, 5, 6]

In [ ]:
Belanjaan={"Mangga":8000,"Apel":7000,
           "Semangka":10000,"Jeruk":12000}
print("Daftar Belanja")
Belanjaan

Daftar Belanja

{'Mangga': 8000, 'Apel': 7000, 'Semangka': 10000, 'Jeruk': 12000}

In [ ]:
a=10
b=3.14
c="Halo nama ku ody"
d=[1,2,3,4,5]

print(a)
type(a)

print(b)
type(b)

print(c)
type(c)

print(d)
type(d)

10
3.14
Halo nama ku ody
[1, 2, 3, 4, 5]

list

In [ ]:
a = 10
b = 3.14
c = "Halo nama ku ody"
d = [1, 2, 3, 4, 5]

print(a, "=", type(a))
print(b, "=", type(b))
print(c, "=", type(c))
print(d, "=", type(d))

10 = <class 'int'>
3.14 = <class 'float'>
Halo nama ku ody = <class 'str'>
[1, 2, 3, 4, 5] = <class 'list'>

In [ ]:
list_belanja = ["beras", "minyak", "telur"]
print (list_belanja)

['beras', 'minyak', 'telur']

In [ ]:
list_belanja = ["beras", "minyak", "telur"]
list_belanja.append("gula")
list_belanja.append("kopi")
print(list_belanja)

['beras', 'minyak', 'telur', 'gula', 'kopi']

In [ ]:
harga_belanjaan = {
    'beras': 12000,
    'minyak': 17000,
    'telur': 24000,
    'gula': 15000,
    'kopi': 20000,
}

barang_belanjaan = ['minyak', 'beras', 'telur', 'gula', 'kopi']


list_harga = [harga_belanjaan[x] for x in barang_belanjaan]
print("List harga:", list_harga)

#total
total_harga = sum(list_harga)
print("Total belanja:", total_harga)

List harga: [17000, 12000, 24000, 15000, 20000]
Total belanja: 88000

In [ ]:
import math

def hitung_lingkaran(r):
    luas = math.pi * r * r
    keliling = 2 * math.pi * r
    return luas, keliling

#pemanggilan fungsi
jari_jari = 7
luas, keliling = hitung_lingkaran(jari_jari)
print(f"Luas lingkaran (r={jari_jari}): {luas:.2f}")
print(f"Keliling lingkaran (r={jari_jari}): {keliling:.2f}")

Luas lingkaran (r=7): 153.94
Keliling lingkaran (r=7): 43.98

In [ ]:
usia = int(input("Masukkan usia: "))

if 0 <= usia <= 13:
    print("Kategori: Anak")
elif 14 <= usia <= 24:
    print("Kategori: Remaja")
elif 25 <= usia <= 49:
    print("Kategori: Dewasa")
elif usia >= 50:
    print("Kategori: Lansia")
else:
    print("Usia tidak valid!")

Masukkan usia: 12
Kategori: Anak